@charset "UTF-8";
/* reset */
/*body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
    text-align: center;
	list-style-type: none;
	border-collapse: collapse;
}
*/
textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}

body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background-color: orange;
}
p{
    margin: 0 auto;
    font-size: 25px;
    color: white;
}
button{
    width: 200px;
    height: 50px;
    background-color: royalblue;
    color: white;
}
dd{
	color: white;
	font-size: 20px;
}
#store{
	font-size: 20px;
}

#address{
	
	font-size: 20px;
}
#photo1{
	font-size: 15px;
}
#photo2{
	font-size: 15px;
}
#photo3{
	font-size: 15px;
}
h3{
	color: red;
	font-size: 15px;
}
#eat{
	font-size: 15px;
}
#bea{
	font-size: 15px;
}
#customer{
	font-size: 15px;
}
#look{
	font-size: 15px;
}
#money{
	font-size: 15px;
}
#body{
    margin: 0 auto;
    width: 100%;
}